body,
html {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.bg-image::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.bg-image {
  background-image: url("./pictures/wellnes.jpg");
  background-size: cover;
  background-position: top;

  height: 100%;
}

.backgroundImageCVR {
  position: relative;
  padding: 15px;
  min-height: 94vh;
}
.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("./pictures/wellnes.jpg");
  background-size: cover;
  background-position: top;
  background-size: cover;
  z-index: 1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.rel {
  position: relative;
  z-index: 2;
  color: #fff;
}

.abs {
  position: absolute;
  top: 0;
  width: 100%;
}

.input-error {
  border-color: red;
}

.error {
  color: red;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.clickable:hover {
  cursor: pointer;
  color: wheat;
}

.clickable {
  color: grey;
  font-weight: bold;
}

.filter {
  width: 100%;
  float: left;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.prichod {
  text-align: center;
  width: 33.3%;
  float: left;
  height: 100px;
  padding: 5px;
}

.odchod {
  text-align: center;
  width: 33.3%;
  float: left;
  height: 100px;
  padding: 5px;
}

.izby {
  text-align: center;
  width: 33.4%;
  float: left;
  height: 120px;
  padding: 5px;
}

.button {
  width: 50%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.radio {
  justify-content: center;
}

.room {
  display: flex;
  margin-top: 30 px;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.sorry {
  display: inline-block;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.roomImage {
  width: 50%;

}

.imgroom {
  width: 100%
}

.description {
  width: 50%;
  padding:10px;
  text-align: center;
}

.description h3 {
  text-align: center;
}

.description p {
  font-weight: bold;
  text-align: left;
}

.description Button {
  width: 70%;
  
}

.reservation {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: #fff;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212529;
  padding: 20px;
  min-height: 89vh;
  border-radius: 10px;
  text-align: center;
}

.reservation img {
  width: 60%;
  margin-bottom: 10px;
}

.reservation p {
  text-align: left;
  margin-left: 20%;
  padding-right: 20%;
  font-weight: bold;
}

.reservation Button {
  width: 60%;
  
}

.service {
  display: flex;
  margin-top: 30 px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border-width: 2px;
  border-color: white;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
  color: black;
}

.service p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.service .roomImage {
  width:50%;

}

.service .roomImage img {
  width: 80%;
}

.spinner {
  text-align: center;
  margin-top: 100px;
}

.payment-method {
  display: flex;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-bottom: 30px;
}

.payment-method-block {
  width: 50%;
}

.customers-reservations {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: #fff;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212529;
  padding: 20px;
  min-height: 89vh;
  border-radius: 10px;
  text-align: center;
}

.customer-reservation {
  content: "";
  display: table;
  clear: both;
}

.customer-reservation-image {
  width: 20%;
  float: left;
}

.customer-reservation-imgroom {
  width: 100%
}

.customer-reservation-info {
  width: 40%;
  text-align: left;
  color: #212529;
  padding-left: 20px;
  font-weight: bold;
  float: left;
}

.customer-reservation-info p {
  margin-bottom: 0;
}

.button-reservation {
  width: 100%;
  margin-top: 10px;
}

.collapse-reservations {
  width: 100%;
  color: #212529;
  background-color: white;
}

.wrapper-reservations {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.reservation-service {
  margin-top: 30px;
  content: "";
  display: table;
  clear: both;
}

.reservation-service-image {
  width: 20%;
  float: left;
}

.reservation-service-imgroom {
  width: 100%
}

.reservation-service-info {
  width: 80%;
  text-align: left;
  color: #212529;
  padding-left: 20px;
  font-weight: bold;
  float: left;
}

.check {
  padding: 0 !important;
  padding-right: 5px !important;
}

.input-reserve {
  width: 70%;
  margin: auto;
}

.reservation-employee {
  margin-top: 30px;
  content: "";
  display: table;
  clear: both;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}

.reservation-employee-image {
  width: 15%;
  float: left;
}

.reservation-employee-imgroom {
  width: 100%
}

.reservation-employee-info {
  width: 30%;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  float: left;
}

.reservation-employee-finish {
  width: 25%;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  float: left;
}

.reservation-employee-info p {
  margin-bottom: 1px;
}

.reservation-employee-finish Button {
  width: 100%;
  margin-bottom: 10px;
}

.checkin-background {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: #fff;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212529;
  padding: 20px;
  min-height: 89vh;
  border-radius: 10px;
  text-align: center;
}

.custom-input {
  width: 50%;
  margin: auto;
}

.guest {
  width: 80%;
  margin:auto;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  color: #212529;
  content: "";
  display: table;
  clear: both;
}

.guest-left {
  width: 100%;
  float: left;
}

.guest-half {
  width: 50%;
  float: left;
  padding: 10px;
}

.guest-button {
  width: 20%;
  margin-top: 20px;
}

.room-employee {
  display: flex;
  margin-top: 30px;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.roomImage-employee {
  width: 30%;

}

.imgroom-employee {
  width: 100%
}

.description-employee {
  width: 70%;
  padding:10px;
  text-align: center;
}

.description-employee h3 {
  text-align: center;
}

.description-employee p {
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.filter-employees {
  width: 50%;
  margin: auto;
}

.button-employee-new {
  width: 30%;
  margin-top: 30px;
}

@media only screen and (max-width: 1300px) {
  .service{
    display: inline-block;
    left: 0%;
    transform: translateX(0%);
  }
  
  .service .roomImage {
    width:100%;
  
  }

  .service .roomImage img {
    width: 90%;
  }

  .service .description {
    width: 100%
  }

  .reservation .description p {
    text-align: left;
    margin-left: 10%;
    padding-right: 10%;
    font-weight: bold;
  }
  

}

@media only screen and (max-width: 1000px) {
  .guest-half {
    width: 100%;
  }

  .reservation-employee-image {
    width: 0%;
  }

  .reservation-employee-info {
    width: 33%;
  }
  
  .reservation-employee-finish {
    width: 33%;
  }

  .roomImage {
    width:100%;
  
  }

  .description {
    width: 100%
  }

  .room{
    display: inline-block;
  }

  .roomImage-employee {
    width:100%;
  
  }

  .description-employee {
    width: 100%
  }

  .room-employee{
    display: inline-block;
  }

  .reservation img {
    width: 80%;
  }

  .reservation p {
    text-align: left;
    margin-left: 10%;
    padding-right: 10%;
    font-weight: bold;
  }
  
  .reservation Button {
    width: 80%;
  }

  .filter-employees {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 900px) {

  .customer-reservation-image {
    width: 100%;
  
  }

  .customer-reservation-info {
    width: 50%;
    margin-top: 20px;
  }

}

@media only screen and (max-width: 780px) {
  .prichod {
    width: 100%;
  }

  .odchod {
    width: 100%;
  }

  .izby {
    width: 100%;
  }

  .payment-method-block {
    width: 100%;
  }

  .reservation-service-image {
    width: 0%;
  }

  .reservation-service-info {
    width: 100%;
  }

  .customer-reservation-info {
    width: 100%;
  }
}


@media only screen and (max-width: 780px) {
  .reservation-employee-info {
    width: 50%;
  }
  
  .reservation-employee-finish {
    width: 100%;
  }

  .checkin-background {
    width: 100%;
  }

  .guest-button {
    width: 50%;
  }

  .filter-employees {
    width: 100%;
    margin: auto;
  }

  
.button-employee-new {
  width: 60%;
  margin-top: 30px;
}
}