body,
html {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.bg-image::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.bg-image {
  background-image: url("./pictures/wellnes.jpg");
  background-size: cover;
  background-position: top;

  height: 100%;
}

.backgroundImageCVR {
  position: relative;
  padding: 15px;
}
.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("./pictures/wellnes.jpg");
  background-size: cover;
  background-position: top;
  background-size: cover;
  z-index: 1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.rel {
  position: relative;
  z-index: 2;
  color: #fff;
}

.abs {
  position: absolute;
  top: 0;
  width: 100%;
}

.input-error {
  border-color: red;
}

.error {
  color: red;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.clickable:hover {
  cursor: pointer;
  color: wheat;
}

.clickable {
  color: grey;
  font-weight: bold;
}

.filter {
  width: 100%;
  float: left;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.prichod {
  text-align: center;
  width: 33.3%;
  float: left;
  height: 100px;
  padding: 5px;
}

.odchod {
  text-align: center;
  width: 33.3%;
  float: left;
  height: 100px;
  padding: 5px;
}

.izby {
  text-align: center;
  width: 33.4%;
  float: left;
  height: 120px;
  padding: 5px;
}

.button {
  width: 50%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.radio {
  justify-content: center;
}

.room {
  display: flex;
  margin-top: 30 px;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}

.sorry {
  display: inline-block;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.roomImage {
  width: 50%;

}

.imgroom {
  width: 100%
}

.description {
  width: 50%;
  padding:10px;
  text-align: center;
}

.description h3 {
  text-align: center;
}

.description p {
  font-weight: bold;
  text-align: left;
}

.description Button {
  width: 70%;
  
}

.reservation {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: #fff;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212529;
  padding: 20px;
  min-height: 89vh;
  border-radius: 10px;
  text-align: center;
}

.reservation img {
  width: 60%;
  margin-bottom: 10px;
}

.reservation p {
  text-align: left;
  margin-left: 20%;
  padding-right: 20%;
  font-weight: bold;
}

.reservation Button {
  width: 60%;
  
}

.service {
  display: flex;
  margin-top: 30 px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border-width: 2px;
  border-color: white;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
  color: black;
}

.service p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.service .roomImage {
  width:50%;

}

.service .roomImage img {
  width: 80%;
}

@media only screen and (max-width: 1300px) {
  .service{
    display: inline-block;
    left: 0%;
    transform: translateX(0%);
  }
  
  .service .roomImage {
    width:100%;
  
  }

  .service .roomImage img {
    width: 90%;
  }

  .service .description {
    width: 100%
  }

  .reservation .description p {
    text-align: left;
    margin-left: 10%;
    padding-right: 10%;
    font-weight: bold;
  }
  

}

@media only screen and (max-width: 1000px) {
    .roomImage {
    width:100%;
  
  }

  .description {
    width: 100%
  }

  .room{
    display: inline-block;
  }

  .reservation img {
    width: 80%;
  }

  .reservation p {
    text-align: left;
    margin-left: 10%;
    padding-right: 10%;
    font-weight: bold;
  }
  
  .reservation Button {
    width: 80%;
  }
}

@media only screen and (max-width: 780px) {
  .prichod {
    width: 100%;
  }

  .odchod {
    width: 100%;
  }

  .izby {
    width: 100%;
  }

}
